// ----------------------------переменные шрифта------------------------------------------------
$fontfamily: "Lato";
// ----------------------------переменные шрифта------------------------------------------------
// ----------------------------переменные цвета------------------------------------------------
$color1: #4d4959;
$color2: #fff;
$color3: #f7f7f7;
$color4: #848789;
$color5: rgba(100, 194, 158, 0.5);
$color6: #c8c8c8;
$color7: #a9afb3;
$color8: #353738;
$color9: #ebebeb;
$color10: #282f35;
$color11: rgba(255, 255, 255, 0.5);
$color12: #d3d7d9;
$color13: #929292;
$color14: #64c29e;
// ----------------------------переменные цвета------------------------------------------------
