// Импорт файлов------------------------------------------------------------------------------------------------------------------------------------------------------
@import "_variables";
@import "_mixin";
@import "_ibg";
@import "_nulls";
@import "_header";
@import "_footer";
@import "_page";
@import "_slider";
@import "_content";
@import "_media";
// Импорт файлов------------------------------------------------------------------------------------------------------------------------------------------------------


// подключаемые шрифты------------------------------------------------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
// подключаемые шрифты------------------------------------------------------------------------------------------------------------------------------------------------------

// Оболочка-----------------------------------------------------------------------------------------------------------------------------------------------------------------
.wrapper {
    overflow: hidden;
    min-height: 100%;
}

// Оболочка-----------------------------------------------------------------------------------------------------------------------------------------------------------

// Основная сетка-----------------------------------------------------------------------------------------------------------------------------------------------------------

.container {
    max-width: 1130px;
    margin: 0px auto;
    padding: 0px 15px;
}

// Основная сетка-----------------------------------------------------------------------------------------------------------------------------------------------------------

